:root {
  --r-primary : #ff5555;
  --r-background  :#282a36;
  --r-font  :#f8f8f2;
  --r-font2   : var(--r-primary);
  --r-icons : var(--r-primary);
  --r-focus   : #d5654d;
  --r-border        : var(--r-primary);
}