:root {

/* ========================================================================== */
/* ========================== Change me ===================================== */
/* ========================================================================== */
/* Primary Color Variables */
    --r-primary : #ff5555;
    --r-background  :#282a36;
    --r-font  :#f8f8f2;
    --r-focus   : #d5654d;
/* Secondary Color variables */
    --r-font2   : var(--r-primary);
    --r-icons   : var(--r-primary);
    --r-border  : var(--r-primary);


/* ========================================================================== */
/* ========================== black and white ================================ */
/* ========================================================================== */
/* Primary Color Variables */
    /*--r-primary : #c0c0c0;
    --r-background  :#ffffff;
    --r-font  :#000000;
    --r-focus   : #c0c0c0;*/
/* Secondary Color variables */
    /*--r-font2   : var(--r-primary);
    --r-icons   : var(--r-primary);
    --r-border  : var(--r-primary); */
/* ========================================================================== */
/* ========================== black and gold ================================ */
/* ========================================================================== */
/* Primary Color Variables */
  /*--r-primary : #ffcd00;
    --r-background  :#000000;
    --r-font  :#ffffff;
    --r-focus   : #FFDC4D;*/
/* Secondary Color variables */
  /*--r-font2   : var(--r-primary);
  --r-icons   : var(--r-primary);
  --r-border  : var(--r-primary); */

  /* ========================================================================== */
  /* for other colors check out https://coolors.co/ */
  /* ========================================================================== */


}