<div class="text-center pt-2">
    {{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
        <li class="list-inline-item text-center">
            <a target="_blank" href="{{ .url }}">
                <i class="{{ .icon}} "></i>
            </a>
        </li>
    {{ end }}
    {{ range .Site.Params.hero.socialLinks.customIcons }}
        <li class="list-inline-item text-center">
            <a href="{{ .url }}" target="_blank" class="img-icon">
                <img src="{{ .icon }}">
            </a>
        </li>
    {{ end }}
</div>