{{ if .Site.Params.talks.enable | default false }}
<section id="talks" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.talks.title | default "talks" }}</h3>
        <div class="row justify-content-center py-5">
            {{ $indexMenu := .Site.Params.talks.index }}
            {{ range $index, $element := .Site.Params.talks.items }}
            <div class="col-12 p-0">
                <div class="row row align-items-center justify-content-center m-1 mb-4">
                    {{ if $indexMenu }}
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                                <h5 class="card-title">{{ .title }}</h5>

                                {{ if .info.url }}
                                <a href="{{ .info.url }}" target="_blank">
                                    <h6>
                                    {{ .info.name }}
                                    </h6>
                                </a>
                                {{ else }}
                                {{ .info.name }}
                                {{ end }}

                                <div class="py-1 talks-content">
                                    {{ .content | markdownify}}
                                </div>

                                {{ if .featuredLink.enable }}
                                <div class="py-1">
                                    <a href="{{ .featuredLink.url }}" class="btn">
                                        {{ .featuredLink.name | default "Featured" }}
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
